<div class="container">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h2 style="color: white;">Feedback</h2>
        </div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Rating</th>
                        <th>Review</th>
                        <th>Customer Id</th>
                        <th>Booking Id</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="obj in Feedbacks">
                        <td>{{obj.Id}}</td>
                        <td>{{obj.Rating}}</td>
                        <td>{{obj.Review}}</td>
                        <td>{{obj.CustomerId}}</td>
                        <td>{{obj.BookingId}}</td>
                        <td>
                            <button class="btn btn-success" ng-click="viewFeedbackDetails(obj)">View</button>
                            <button class="btn btn-danger" ng-click="deleteFeedback(obj)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
