<div class="container">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h2>Merchants</h2>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-2">
            <label>Merchant ID</label>
            <input type="text" class="form-control" />
          </div>
          <div class="col-md-2">
            <label>Name</label>
            <input type="text" class="form-control" />
          </div>
          <div class="col-md-2">
            <label>Photo</label>
            <input type="file" class="form-control" />
          </div>
          <div class="col-md-2">
            <label>Mobile No</label>
            <input type="text" class="form-control" />
          </div>
          <div class="col-md-2">
            <label>Email</label>
            <input type="email" class="form-control" />
          </div>
          <div class="col-md-2">
            <label>Shop Name</label>
            <input type="text" class="form-control" />
          </div>
          <div class="col-md-2">
            <label>Address</label>
            <input type="text" class="form-control" />
          </div>
          <div class="col-md-2">
            <label>State ID</label>
            <input type="text" class="form-control" />
          </div>
          <div class="col-md-2">
            <label>District ID</label>
            <input type="text" class="form-control" />
          </div>
          <div class="col-md-2">
            <br />
            <button class="btn btn-success">Save</button>
          </div>
        </div>
  
        <hr />
  
        <h3>List Of Merchants</h3>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Name</th>
              <th>Photo</th>
              <th>Mobile No</th>
              <th>Email</th>
              <th>Shop Name</th>
              <th>Address</th>
              <th>State ID</th>
              <th>District ID</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="obj in Merchants">
              <td>{{obj.Name}}</td>
              <td>
                <img
                  ng-src="{{obj.PhotoUrl}}"
                  alt="Merchant Photo"
                  style="width: 50px; height: 50px"
                />
              </td>
              <td>{{obj.MobileNo}}</td>
              <td>{{obj.Email}}</td>
              <td>{{obj.ShopName}}</td>
              <td>{{obj.Address}}</td>
              <td>{{obj.State.Id}}</td>
              <td>{{obj.District.Id}}</td>
              <td>
                <a class="btn btn-success" ui-sref="MerchantDetails"
                  >View Details</a
                >
                <button class="btn btn-danger" ng-click="deleteMerchant(obj)">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>