<div class="container">


    <div class="panel panel-success">
        <div class="panel-heading">
            <h2>States</h2>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-md-3">
                    <label>State Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-3">
                    <br>
                    <button class="btn btn-success"> Save</button>
                </div>
            </div>

            <hr>

            <h3>List Of States</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>State Name</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Kerala</td>
                        <td><button class="btn btn-succcess"> Edit</button> <button class="btn btn-danger"> Delete</button></td>
                    </tr>
                    <tr>
                        <td>TamilNadu</td>
                        <td><button class="btn btn-succcess"> Edit</button> <button class="btn btn-danger"> Delete</button></td>
                    </tr>
                    <tr>
                        <td>Karnataka</td>
                        <td><button class="btn btn-succcess"> Edit</button> <button class="btn btn-danger"> Delete</button></td>
                    </tr>
                </tbody>
            </table>



        </div>
    </div>


</div>
